:root {
  --primaria: #606fa4;
  --secundaria: #ccc5dd;
  --texto: #1d1a11;
  --fundo: #fbfbf9;
  --destaque: #4e7888;
}

.card {
  width: 300px;
  height: 250px;
  margin-bottom: 10%;
  border: 1px solid var(--destaque);
}
