body {
    display: flex;
    align-items: right;

    height: 100vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    height: 100%;
    width: 100%;
}

.card {
    max-width: auto;
    margin: auto;
}

.card-menu {
    padding: 10px;
    max-width: 50%;
    /* margin: 20px; */
}

.menu {
    margin: 100px 200px 100px 200px;
}
.menu-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}